:root {
    --header-bg-clr: #ffffff;
    --content-bg-clr: #f5f7fa;
}

html {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 3rem;
    font-weight: 700;
    margin: auto;
}

.content {
    flex: 1;
}